* {
    box-sizing: border-box;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    flex-direction: row;
    float: right;
    flex-wrap: wrap;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-left: 15px;   
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

a:hover {
    transform: translateY(-3px);
}

.logo {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
    border-bottom: 1px white solid;
    
}

#logo1 {
    font-size: 3rem;
    position: absolute;
    top: -50px;    
    color: white;
}

#logo2 {
    color: white;
    position: absolute;
    left: 35px;
    bottom: -3px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    a {
        width: 100%;
        text-align: center;
        border: 1px solid white;
        font-size: 1.3rem !important;
    }

    .link:last-child {
        border-left: 1px solid white !important;
        border-right: 1px solid white !important;
    }
}

* {
    box-sizing: border-box;
  }
 
  /* Vertical ruler */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Vertical ruler */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-right: 1px white solid;
    border-left: 1px white solid;
  }
  
  /* Container around text */
  .container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* Small circles on the timeline */
  .container2::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -9.5px;
    background-color: black;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  

  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -8px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    border: white double 1px;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container2 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container2::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  p {
    color: white;
  }

  h2 {
    color: white;
  }

