* {
    box-sizing: border-box;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../img/background.jpg);
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    flex-direction: row;
    float: right;
    flex-wrap: wrap;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-left: 15px;   
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

a:hover {
    transform: translateY(-3px);
  }

.logo {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
    border-bottom: 1px white solid;
    
}

#logo1 {
    font-size: 3rem;
    position: absolute;
    top: -50px;    
    color: white;
}

#logo2 {
    color: white;
    position: absolute;
    left: 35px;
    bottom: -3px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    a {
        width: 100%;
        text-align: center;
        border-left: 1px solid white;
        font-size: 1.3rem !important;
        border: 1px solid white;
    }

    .link:last-child {
        border: 1px solid white;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        margin-left: -30px;
        margin-top: 15px;
        font-size: 8vh !important;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

    .txtcontainer {
        margin-bottom: 75px !important;
        height: 500px;
        width: 100%;
        border: 2px double black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -50px !important;
    }

    .btn {
        margin-top: 30px;
    }
   
    
}

h2 {
    font-weight: 5;
}

h1 {
    font-weight: 50;
    font-size: 6vh !important;
    margin-bottom: -20px;
    margin-left: -2px;
}

h6 {
    margin-top: -20px;
    font-weight: 5;
    margin-left: 0.3rem;
}


main {
    padding: 80px;
}

footer {
    margin-top: auto;
    text-align: center;
}


img {
    float: right;
    height: 200px;
    width: 200px;
}

.btn {
    text-decoration: none !important;
    background-color: black;
    color: white;
    padding: 5px 30px 5px 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.btn:hover
{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.txtcontainer {
    text-align: left;
    margin-top: 200px;
}


